{% extends "blog/base.html" %}

{% block content %}
<h2 class="ui header"> Posts </h2>

{% if posts %}
    <div class="ui relaxed divided list">
        {% for post in posts %}
            <div class="item"> 
                <div class="content"> 
                    <a class="header" href="{% url 'blog:detail' post.id %}"> {{post.title}} </a>
                    <div class="description">
                        {{ post.pub_date }}, authored by {{post.author}}.
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="ui center aligned grid">
        <div class="row">
        {% if is_paginated %}
            <div class="ui borderless menu">
            {% if page_obj.has_previous %}
                <a class="item" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else %}
                <a class="item" href="#">&laquo;</a>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <a class="item active">{{ i }}</a>
                {% else %}
                    <a class="item" href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="item" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% else %}
                <a class="item" href="#">&raquo;</a>
            {% endif %}
            </div>
        {% endif %}
        </div>
    </div>
{% else %}
    <p> No posts are published. </p>
{% endif %}
{% endblock %}
